
h1{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: xx-large;
    color: black;

    
}
p{
    color: maroon;
    text-align: center;
}
ul{
    color: black;
    text-align: center;
    display: block;

}
body { 
    background-position: center center; 
    background-size: 60% 100%; 
    background-repeat: no-repeat;
    background-color: gray;

}
.center{
    margin: auto;
    width: 60%;
    border: 5px black;
} 
img{
   float: center;
}